---
layout: default
---

<div class="hero-image main">
	<h1 class="header-title">
    <span class="header-title__main">Im Ausland</span>
    <span class="header-title__part">A European Adventure</span>
    <span class="header-title__sub">
      An interactive travel log by <a style="color: white;" href="http://bobbylcraig.com/">Bobby Craig</a>.
    </span>
  </h1>
</div>
<div class="hero-image intro">
	<em>&ldquo;I'm broke as hell,<br>but at least I'm rich in memories.&rdquo;</em>
  <span>Dariya Koleva</span>
</div>
<div class="story">
	<div class="row">
		<div class="fuzz-out">
			{% for post in site.posts reversed %}
				<div class="blog-post">
					<h3 class="location-text">{{ post.location }}</h3>
					<h1 class="post-heading">{{ post.title }}</h1>
					<!-- <h5><em>{{ post.date | date: "%B %-d, %Y" }}</em></h5> -->
					{{ post.content }}
				</div>
			{% endfor %}
		</div>
		<div class="fixed-box">
			{% include map.html %}
		</div>
	</div>
</div>
<div class="hero-image intro" style="opacity: 0.5;">
	<em>&ldquo;The end.&rdquo;</em> <span>Bobby Craig</span>
</div>
