<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/about">About Bobby</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact Bobby</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
          </ul>
        </div>
        <span style="opacity: 0.5; font-size: 0.5em;"><a href="http://www.themefisher.com">Themefisher</a> in use by <a href="http://bobbylcraig.github.io/">Bobby Craig</a>. All rights reserved.</span>
      </div>
    </div>
  </div>
</footer>
