<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
  var map = document.getElementsByTagName("svg")[0];

  $(document).ready(function() {
    var x = document.getElementsByClassName("travel");
    var i;
    for (i = 0; i < x.length; i++) {
      var length = x[i].getTotalLength();
      x[i].style["stroke-dasharray"] = length;
      x[i].style["stroke-dashoffset"] = length;
      x[i].style.visibility = "visible";
    }

    var y = document.querySelectorAll("#points circle");
    var j;
    for (j = 0; j < y.length; j++) {
      var x_coord = parseFloat(y[j].getAttribute('cx'))+8;
      var y_coord = parseFloat(y[j].getAttribute('cy'))+3;
      var sentence = '<text class="' + y[j].id + '-text" x="' + x_coord + '" y="' + y_coord + '" font-family="Verdana" font-size="8" fill="black">' + y[j].id + '</text>';
      y[j].insertAdjacentHTML( 'beforeBegin', sentence );
    }

    // Run the function in case of window resize
    $(window).resize(function() {
      fullscreen();
    });
  });

  $(window).on('load', function() {
    fullscreen();
  });

  $(window).scroll(function() {
    {% for post in site.posts %}
      {% if post.to-id %}
        draw_section("#{{ post.to-id }}", ".{{ post.to-class }}", 200);
      {% endif %}
      {% if post.from-id %}
        draw_section("#{{ post.from-id }}", ".{{ post.from-class }}", 200);
      {% endif %}
    {% endfor %}
  });

  function fullscreen(){
    $('.hero-image').css({
        height: $(window).height()
    });
    $("svg").css({
        height: $(window).height(),
        width: $(window).width()
    });
  }

  function box_change( from, to, percent ) {
    var from_list = from.split(" ");
    var to_list = to.split(" ");
    var new_viewbox = "";
    var i;
    for ( i=0; i < 4; i++ ) {
      var diff = Math.abs(from_list[i] - to_list[i]);
      if ( parseInt(from_list[i]) >= parseInt(to_list[i]) ) {
        new_viewbox += Math.floor( (parseInt(from_list[i]) - (diff * percent)) );
      }
      else {
        new_viewbox += Math.floor( (parseInt(from_list[i]) + (diff * percent)) );
      }
      new_viewbox += " ";
    }
    map.setAttribute("viewBox", new_viewbox);
  }

  function draw_section(path_query, section_query, disap_speed) {
    var path = document.querySelector(path_query);
    var section = document.querySelector(section_query);
    var pos = getPos(section);
    var top = pos["top"];
    var bottom = pos["bottom"];
    var scrollTop = document.body.scrollTop;
    var path_length = path.getTotalLength();
    // Don't calc if out of range
    if (scrollTop < top) {
      var offset_val = path_length;
    } else if (scrollTop > bottom) {
      var offset_val = 0;
    } else {
      var path_percent = ((scrollTop - top) / (bottom - top));
      var offset_val = path_length - (path_length * path_percent);
      box_change( section.getAttribute("data-from"), section.getAttribute("data-to"), path_percent );
      console.log(path_length);
    }
    path.style["stroke-dashoffset"] = offset_val;

    if ( scrollTop > bottom + 100 ) {
      var perc_past = 1 - ((scrollTop - bottom) / disap_speed);
      if ( perc_past < 0.05 ) {
        perc_past = 0.05;
      }
      path.style.opacity = perc_past;
    }
    else {
      path.style.opacity = 1;
    }
  }

  function getPos(el) {
    var height = el.offsetHeight;
    for (var ly = 0; el !== null; ly += el.offsetTop, el = el.offsetParent);
    return {
      top: ly,
      bottom: ly + height
    };
  }

</script>
